# Google account email
USER_EMAIL = ""

# Google account password
USER_PASSWORD = ""

# Spreadsheet key for Google Spreadsheet that is to be populated
# Can be found as GET parameter in spreadsheet URL
# e.g. http://spreadsheets.google.com/ccc?key=ab...MG&hl=pt_BR
SPREADSHEET_KEY = ""

# A tuple of lists that each represent a different search string
# Each search string is represented by a list of strings
# e.g. ["role", "based", "access", "control"]
SEARCH_CRITERIA = (
)

# Specifies which search engines to get results from
# Uncomment those you wish to use
# Place the worksheet_id you wish to use for a given search engine
# The worksheet_id corresponds to numerical slot that the worksheets appear
# in the spreadsheet
SEARCH_ENGINES = (
    #{ 'engine' : "google_scholar", 
     #'worksheet_id' : 1 },
    #{ 'engine' : "citeseerx",
     #'worksheet_id' : 2 },
    #{ 'engine' : 'acmportal',
     #'worksheet_id' : 3 },
    #{ 'engine' : 'ieeexplore',
     #'worksheet_id' : 4 }
)
